@{
    ViewBag.Title = "Home Page";
}

<div>
    <script type="text/javascript">
        $(document).ready(function () {
            // alert("jqeury called");

        }
       );
    </script>
    <div>
        <br />
    </div>
    <table class="table" style: border="1">
        <tr>
            <td>
                @Html.Label("lblFirstName", "First Name")
            </td>
            <td>
                @Html.TextBox("txtFirstName", "test value", new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <div class="progress">
                <div class="progress-bar progress-bar-success active progress-striped" style="width:80%; min-width:20%">

                </div>
            </div>
        </tr>
    </table>
</div>


